<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>ActivityDetail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div *ngIf="!activityDetail">
    <ion-card>
      <ion-skeleton-text animated class="skeleton-img"></ion-skeleton-text>
      <ion-card-header>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-card-header>
      <ion-card-content>
        <ion-skeleton-text animated></ion-skeleton-text>
        <ion-skeleton-text animated></ion-skeleton-text>
        <ion-skeleton-text animated></ion-skeleton-text>
        <ion-skeleton-text animated></ion-skeleton-text>

        <ion-skeleton-text animated></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>

        <ion-skeleton-text animated></ion-skeleton-text>
        <ion-skeleton-text animated></ion-skeleton-text>
        <ion-skeleton-text animated></ion-skeleton-text>
        <ion-skeleton-text animated></ion-skeleton-text>
        <ion-skeleton-text animated></ion-skeleton-text>
        <ion-skeleton-text animated></ion-skeleton-text>
        <ion-skeleton-text animated></ion-skeleton-text>
        </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-list>
        <ion-item lines="none">
         <ion-skeleton-text animated style="width: 50%" class="text"></ion-skeleton-text>
         <ion-skeleton-text slot="end" animated style="width: 20%" class="chip"></ion-skeleton-text>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item lines="none">
         <ion-skeleton-text animated style="width: 50%" class="text"></ion-skeleton-text>
         <ion-skeleton-text slot="end" animated style="width: 20%" class="chip"></ion-skeleton-text>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item lines="none">
         <ion-skeleton-text animated style="width: 50%" class="text"></ion-skeleton-text>
         <ion-skeleton-text slot="end" animated style="width: 20%" class="chip"></ion-skeleton-text>
        </ion-item>
      </ion-list>

    </ion-card>
  </div>


  <ion-card>
    <img [src]="(activityDetail | async)?.image" />
    <ion-card-header>
      <ion-card-subtitle> {{(activityDetail | async)?.name}}</ion-card-subtitle>

    </ion-card-header>
    <ion-card-content>
     {{ (activityDetail | async)?.description }}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-list>
      <ion-item lines="none">
        <ion-label>Duration</ion-label>
        <ion-chip color="primary">
          <ion-label>{{ (activityDetail | async)?.duration }}</ion-label>
        </ion-chip>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item lines="none">
        <ion-label>Category</ion-label>
        <ion-chip color="success">
          <ion-label>{{ (activityDetail | async)?.category }}</ion-label>
        </ion-chip>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item lines="none">
        <ion-label>Popularity</ion-label>
        <ion-chip color="warning">
          <ion-label>{{ (activityDetail | async)?.popularity }}</ion-label>
        </ion-chip>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-fab vertical="top" horizontal="end" slot="fixed" >
    <ion-fab-button color="success">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="bottom">
      <ion-fab-button (click)="openModel()" color="warning"><ion-icon name="play" ></ion-icon></ion-fab-button>
      <ion-fab-button color="medium" ><ion-icon name="share" ></ion-icon></ion-fab-button>
      <ion-fab-button color="danger" (click)="addToFavoirts()"><ion-icon name="star" ></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
