.main-img{
  width: 100%;
  height: 200px;
}

ion-content{
  ion-card{
    .skeleton-img{
      height: 15em;
      margin-top: -1em;
    }

    ion-list{
      ion-item{
        .chip{
          height: 1.8em;
          border-radius: 1em;
        }

      }
    }
  }


}


